.marcador {
    background: #fe9d9d;
    border: 1px solid #f94646;
    
  }
.marcador-container {
    background: #5bf946;
    border: 1px solid #36ae26;
}
.borda{
    border: 1px solid blue;
}

.fundo-onda{
    
    background: url(../imagens/fundo-hokusai.png) fixed ;
    background-size:  1108px 800px;  
    background-position-y: 50px;  
    height: 640px;
    background-position-x: center;
    background-repeat: no-repeat;
    
}

